body {    background: #dcdcdc;
}

header {
    margin: 25px 100px 0 100px;
    display: flex;
    justify-content: space-between;
}

.header__menu-title {
    display: flex;
}

.menu__button {
    background: #0066ff;
    color: white;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    cursor: pointer;
}

.menu__button .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20;
    position: absolute;
    top: 1px;
    left: 2.5px;
    color: white;
}

.app-title__space {
    padding-left: 16px;
}

.app-title {
    color: #0066ff;
    font-weight: 600;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
        margin: 50px 0 0 0;
    }

    .header__menu-title {
        /* justify-content: center;
        margin-right: 240px; */
        margin-left: 30px;
    }
}

@media screen and (max-width: 480px) {
    header {
        display: block;
        margin: 50px 0 0 0;
    }

    .header__menu-title {
        justify-content: center;
        margin: 0 215px 0 0;
    }
}