body {
    margin: 25px 25px 30px;
}

header {
    display: flex;
    justify-content: center;
    margin: 0 680px 0 0;
}

main {
    margin: 75px;
    padding: 75px 0;
}

.close__button {
    background: #0066ff;
    color: white;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 20;
    position: absolute;
    top: 1.5px;
    left: 2px;
}

.content__menu {
    display: flex;
    justify-content: center;
}

.menu__group {
    text-align: center;
}

.content__inner {
    margin-bottom: 25px;
}

.inner__button {
    border: none;
    background: none;
    color: #0066ff;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        margin: 0 400px 0 0;
    }
}

@media screen and (max-width: 480px ) {
    header {
        margin: 0 280px 0 0;
    }

    main {
        margin: 50px;
        padding: 0 0;
    }
}