main {
    display: flex;
    justify-content: center;
}

.all {
    display: flex;
    width: 719px;
}

.ul__button {
    display: flex;
}

.list__payment {
    margin-left: 10px;
}

.visited-button {
    border: none;
    background: #0066ff;
    background: #c0c0c0;
    border-radius: 3px;
    height: 30px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.reservation-status__header {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.reservation-status__inner-frame {
    margin: 20px 0;
    padding: 15px 0 0 25px;
    width: 300px;
    height: 160px;
    background: #0066ff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    position: relative;
}

.reservation-status__inner-header {
    display: flex;
}

.reservation-icon {
    height: 20px;
}

.reservation-icon .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20;
    color: white;
    font-size: 20px;
}

.reservation-number {
    height: 20px;
    display: flex;
    align-items: center;
}

.reservation-number__inner {
    color: white;
    line-height: 20px;
    padding-left: 25px;
    font-size: 13px;
}

.status__inner {
    margin-top: 20px;
}

.shop-info,
.date-info,
.time-info,
.number-info {
    display: flex;
    margin: 7px 0;
    font-size: 11px;
    position: relative;
}

.info__header {
    color: white;
    font-weight: normal;
    margin: 0;
}

.shop,
.date,
.time,
.number {
    font-size: 11px;
    position: absolute;
        left: 90px;
    color: white;
    background: none;
    outline: none;
    border: none;
}

.reservation-update {
    position: absolute;
        top: 12px;
        right: 45px;
}

.update {
    font-size: 13px;
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.reservation-cancel {
    position: absolute;
        top: 12px;
        right: 5px;
}

.reservation-cancel .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 200,
        'opsz' 20;
    color: white;
    background: none;
    cursor: pointer;
    border: none;
}

.qr-group {
    width: 100px;
    position: absolute;
        bottom: 10px;
        right: 5px;
}

.qr-description {
    color: white;
    font-size: 9.5px;
}

.qr-button {
    font-size: 9.5px;
    width: 55px;
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.favorite__frame {
    margin: 28px 0 0 40px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.favorite__header {
    margin-top: 5px;
}

.header-title {
    font-size: 15px;
    font-weight: bold;
}

.favorite-shop-all {
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px
}

.shop__frame {
    width: 174px;
    height: 160px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 0px 15px 20px 0;
}

.shop-image {
    width: 174px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 12px;
    margin: 7px 0 0 0;
    padding-left: 7px;
}

.shop__area-genre {
    display: flex;
    margin: 3px 0 0 7px;
}

.shop-area,
.shop-genre {
    margin: 0 3px 0 0;
    font-weight: normal;
    font-size: 8px;
}

.shop__detail-favorite {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 7px 0 7px;
}

.detail {
    font-size: 12px;
    width: 95px;
    height: 25px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite,
.favorite-hart {
    height: 30px;
}

.favorite__active {
    height: 30px;
    display: flex;
    align-items: center;
}

.favorite__active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
}

@media screen and (max-width: 768px){
    .all {
        width: 431px;
    }

    .reservation-status__inner-frame {
        width: 200px;
        height: 270px;
        padding: 15px 0 0 10px;
    }

    .reservation-number__inner {
        padding-left: 10px;
    }

    .status__inner {
        margin-top: 10px;
    }

    .shop,
    .date,
    .time,
    .number {
        position: absolute;
            left: 70px;
    }

    .reservation-update {
        position: static;
    }

    .reservation-cancel {
        position: absolute;
            right: 10px;
    }

    .qr-group {
        position: static;
        width: 170px;
    }

    .qr-description {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .all {
        display: block;
        width: 310px;
    }

    .reservation-status__inner-frame {
        width: 310px;
        height: 160px;
        padding: 15px 0 0 25px;
    }

    .reservation-number__inner {
        padding-left: 25px;
    }

    .reservation-update {
        position: absolute;
    }

    .reservation-cancel {
        position: absolute;
            right: 5px;
    }

    .qr-group {
        width: 100px;
        position: absolute;
    }

    .qr-description {
        font-size: 9.5px;
    }

    .favorite__frame {
        margin: 15px 0 0 0;
    }

    .shop__frame {
        width: 310px;
        margin: 0 0 20px 0;
    }

    .shop-image {
        width: 310px;
    }
}