.grid__parent {
    display: grid;
    height: auto;
    grid-template-columns: 2fr 3fr;
}

.reservation-status__flame {
    grid-column: 1/2;
    margin: 22px 0 0px 25px;
}

.visited-button {
    border: none;
    background: #0066ff;
    background: #c0c0c0;
    border-radius: 3px;
    height: 35px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.reservation-status__header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.reservation-status__inner-flame {
    margin: 20px 0;
    padding: 25px 0 0 25px;
    width: 400px;
    height: 230px;
    background: #0066ff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    position: relative;
}

.reservation-status__inner-header {
    display: flex;
}

.reservation-icon .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20;
    color: white;
    font-size: 30px;
}

.reservation-number__inner {
    color: white;
    line-height: 30px;
    padding-left: 25px;
    font-size: 13px;
}

.shop-info,
.date-info,
.time-info,
.number-info {
    display: flex;
    margin: 15px 0;
    font-size: 13px;
    position: relative;
}

.info__header {
    color: white;
    font-weight: normal;
    margin: 0;
}

.shop,
.date,
.time,
.number {
    position: absolute;
        left: 90px;
    color: white;
    background: none;
    outline: none;
    border: none;
}

.reservation-update {
    position: absolute;
    top: 30px;
    right: 85px;
}

.update {
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.reservation-cancel {
    position: absolute;
        top: 30px;
        right: 30px;
}

.reservation-cancel .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 200,
        'opsz' 20;
    color: white;
    background: none;
    cursor: pointer;
    border: none;
}

.favorite__flame {
    grid-column: 2/3;
    margin: 30px 0 0 90px;
}

.user-name {
    font-size: 25px;
    font-weight: bold;
}

.favorite__header {
    margin-top: 20px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}

.favorite-shop-all {
    display: flex;
    flex-wrap: wrap;
    padding-top: 22px
}

.shop__flame {
    width: 250px;
    height: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 0px 15px 20px 0;
}

.shop-image {
    width: 250px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.shop__area-genre {
    display: flex;
    margin: 3px 0 0 15px;
}

.shop-area,
.shop-genre {
    margin: 0 3px 0 0;
    font-weight: normal;
    font-size: 10px;
}

.shop__detail-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px 0 15px;
}

.detail {
    width: 95px;
    height: 30px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite__active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
}