.reservation__frame-outside {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reservation__frame {
    width: 719px;
    height: 450px;
    background: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.content__header {
    margin-top: 20px;
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.content__info {
    text-align: center;
    display: flex;
    justify-content: center;
}

.table {
    margin-top: 25px;
    width: 600px;
}

.td-content {
    line-height: 30px;
}

.back {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
        bottom: 10%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .reservation__frame {
        width: 431px;
    }
}

@media screen and (max-width: 480px) {
    .reservation__frame {
        width: 310px;
    }

    .title {
        font-size: 20px;
    }

    .tr-index {
        font-size: 14px;
    }

    .tr-content {
        font-size: 14px;
    }

    .back {
        font-size: 14px;
    }
}