body {
    background: #dcdcdc;
    margin: 0 25px;
}

.header-group {
    display: flex;
    justify-content: center;
    margin: 25px 600px 0 0;
}

.menu__button {
    background: #0066ff;
    color: white;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    cursor: pointer;
}

.menu__button .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20;
    position: absolute;
    top: 1px;
    left: 2.5px;
    color: white;
}

.app-title__space {
    padding-left: 16px;
}

.app-title {
    color: #0066ff;
    font-weight: 600;
    font-size: 24px;
}

.content{
    display: flex;
    justify-content: center;
}

.shop-detail__frame {
    margin: 0 25px 0 0;
}

.shop-name__group {
    display: flex;
    margin-top: 30px;
}

.return__button {
    width: 23px;
    height: 23px;
    position: relative;
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.return__button .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20;
    position: absolute;
        top: -1px;
        left: -1px;
}

.shop-name {
    margin: 0 0 0 10px;
    font-size: 20px;
}

.shop-image {
    margin: 20px 0 0;
    width: 325px;
}

.shop__area-genre {
    display: flex;
    margin-top: 10px;
}

.shop-area,
.shop-genre {
    font-weight: normal;
    font-size: 9.5px;
    margin-right: 5px;
}

.over-view {
    display: inline-block;
    width: 325px;
    font-size: 9.5px;
    margin: 0;
}

.reservation-group {
    margin: -50px 0 0 25px;
}

.reservation__frame {
    height: 490px;
    width: 320px;
    background: #0066ff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    position: relative;
}

.current-reservation-header {
    color: white;
    font-size: 17px;
    padding: 20px 0 0 15px;
}

.current-reservation-info__frame {
    margin: 15px 0 0 15px;
    padding: 15px 0 0 15px;
    width: 290px;
    height: 100px;
    background: #b2d8ff;
    opacity: 0.3;
    border-radius: 5px;
}

.current-reservation-info__inner {
    position: absolute;
        top: 68px;
        left: 30px;
}

.shop-info,
.date-info,
.time-info,
.number-info {
    display: flex;
    position: relative;
    width: 260px;
}

.info__header {
    margin: 0 0 6px 0;
    color: white;
    font-weight: normal;
    font-size: 11.5px;
}

.current-shop,
.current-date,
.current-time,
.current-number {
    position: absolute;
    left: 90px;
    color: white;
    font-size: 11.5px;
}

.update-reservation-header {
    color: white;
    font-size: 17px;
    padding: 0 0 0 15px;
}

.input_date {
    margin-left: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 25px;
    font-size: 11.5px;
    outline: none;
}

.input_time,
.input_people {
    margin: 10px 0 0 15px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    width: 290px;
    height: 25px;
    font-size: 13px;
    outline: none;
}


.update-reservation-info__frame {
    margin: 15px 0 0 15px;
    padding: 15px 0 0 15px;
    width: 290px;
    height: 100px;
    background: #b2d8ff;
    opacity: 0.3;
    border-radius: 5px;
}

.update-reservation-info__inner {
    position: absolute;
        bottom: 65px;
        left: 30px;
}

.shop,
.date,
.time,
.number {
    position: absolute;
        left: 90px;
    color: white;
    font-size: 11.5px;
}

.update-reservation-button__frame {
    position: absolute;
        bottom: 0;
}

.update-reservation__button {
    background: blue;
    color: white;
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
body {
        margin: 0 12px 30px;
    }

    .header-group {
        margin: 25px 345px 0 0;
    }

    .shop-detail__frame {
        margin: 0 12.5px 0 0;
    }

    .shop-image {
        width: 230px;
    }

    .over-view {
        width: 230px;
    }

    .reservation-group {
        margin: -50px 0 0 12.5px;
    }

    .reservation__frame {
        width: 200px;
        height: 490px;
    }

    .current-reservation-info__frame {
        width: 170px;
        height: 100px;
    }

    .shop-info,
    .date-info,
    .time-info,
    .number-info {
        width: 140px;
    }

    .info__header {
        font-size: 9.5px;
    }

    .current-shop,
    .current-date,
    .current-time,
    .current-number {
        position: absolute;
            left: 65px;
        font-size: 9.5px;
    }

    .input_date {
        width: 170px;
    }

    .input_time,
    .input_people {
        width: 170px;
        font-size: 11.5px;
    }

    .update-reservation-info__frame {
        width: 170px;
    }

    .update-reservation-info__inner {
        position: absolute;
            bottom: 70px;
    }

    .shop,
    .date,
    .time,
    .number {
        position: absolute;
            left: 65px;
        font-size: 9.5px;
    }

    .update-reservation__button {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    body {
        display: flex;
        justify-content: center;
        margin: 0 0 30px 0;
    }

    .header-group {
        margin: 25px 220px 0 0;
    }

    .content {
        display: block;
        margin: 0 10px;
    }

    .shop-detail__frame {
        justify-content: center;
        margin: 0 0 0 0;
    }

    .shop-image {
        width: 320px;
    }

    .over-view {
        width: 320px;
    }

    .reservation-group {
        margin: 35px 0 0 0;
    }

    .reservation__frame {
        width: 325px;
    }

    .current-reservation-header {
        font-size: 15px;
        margin-top: 0;
        padding: 10px 0 0 15px;
    }

    .current-reservation-info__frame {
        width: 295px;
    }

    .current-reservation-info__inner {
        position: absolute;
            top: 60px;
    }

    .shop-info,
    .date-info,
    .time-info,
    .number-info {
        width: 140px;
    }

    .info__header {
        font-size: 9.5px;
    }

    .current-shop,
    .current-date,
    .current-time,
    .current-number {
        position: absolute;
        left: 65px;
        font-size: 9.5px;
    }

    .update-reservation-header {
        font-size: 15px;
    }

    .input_date {
        width: 295px;
    }

    .input_time,
    .input_people {
        width: 295px;
        font-size: 11.5px;
    }

    .update-reservation-info__frame {
        width: 295px;
    }

    .update-reservation-info__inner {
        position: absolute;
        bottom: 90px;
    }

    .shop,
    .date,
    .time,
    .number {
        position: absolute;
        left: 65px;
        font-size: 9.5px;
    }

    .update-reservation__button {
        width: 325px;
    }
}