main {
    display: flex;
    justify-content: center;
    margin: 25px 95px 0 95px;
}

.search-area__space {
    display: flex;
    background: white;
    height: 40px;
    width: 515px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    padding-top: 8px;
}

.select {
    width: 100px;
    height: 27px;
    border: none;
    outline: none;
    border-right: solid 1.5px #dcdcdc;
    padding-left: 7px;
    cursor: pointer;
}

.search-button__frame {
    position: relative;
}

.search__button {
    border: none;
    background: none;
    color: #dcdcdc;
    cursor: pointer;
    position: absolute;
    top: -27px;
    left: 210px;
}

.search {
    width: 250px;
    height: 34px;
    border: none;
    outline: none;
    position: absolute;
    top: -32px;
    left: 250px;
}

.shop-all__frame {
    display: flex;
    flex-wrap: wrap;
}

/* 各ショップ情報 */

.shop__frame {
    width: 250px;
    height: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px 5px;
}

.shop-image {
    width: 250px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.shop__area-genre {
    display: flex;
    margin: 3px 0 0 15px;
}

.shop-area,
.shop-genre {
    margin: 0 3px 0 0;
    font-weight: normal;
    font-size: 10px;
}

.shop__detail-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px 0 15px;
}

.detail {
    width: 95px;
    height: 30px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite__active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
}

.favorite__nonactive .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: #efefef;
    cursor: pointer;
    border: none;
    background: none;
}

@media screen and (max-width: 889px) {
    .search-area__space {
        width: 350px;
    }

    .search {
        width: 50px;
    }
}

@media screen and (max-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        margin: 25px 95px 0 95px;
    }

    .search-area__space {
        width: 210px;
        height: 75px;
    }

    .search__button {
        position: absolute;
        top: 15%;
        left: 85%;
    }

    .search {
        padding-left: 10px;
        width: 150px;
        height: 34px;
        position: static;
    }

    /* 各ショップ情報 */

    .shop__frame {
        width: 182px;
    }

    .shop-image {
        width: 182px;
    }
}

@media screen and (max-width: 480px) {
    .search-area__space {
        width: 150px;
        height: 100px;
    }

    .select {
        width: 137px;
        height: 27px;
        border-right: none;
    }

    .search__button {
        position: absolute;
            top: 15%;
            left: 75%;
    }

    .search {
        padding-left: 10px;
        width: 150px;
        height: 34px;
        position: static;
    }

    .shop-all__frame {
        display: block;
    }

    /* 各ショップ情報 */

    .shop__frame {
        width: 320px;
    }

    .shop-image {
        width: 320px;
    }
}