body{
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 25px 25px 30px;
}

.review__frame {
    margin-top: 150px;
    width: 550px;
    height: 400px;
    background: white;
    position: absolute;
        left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    position: relative;
}

.shop_image {
    width: 550px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name__frame {
    margin: 10px 5px 0px;
    padding: 5px 15px;
    border-bottom: solid;
}

.shop-name {
    font-size: 25px;
    font-weight: normal;
}

.shop-name__after {
    margin-left: 15px;
}

.review__under-frame {
    display: flex;
}

.star-rating__frame {
    margin: 10px 0 0 30px;
}

.star {
    font-size: 15px;
    color: #fabf14;
    padding-left: 5px;
}

.comment__frame {
    margin: 10px 0 0 50px;
}

.comment {
    resize: none;
    outline: none;
}

.button__frame {
    display: flex;
    justify-content: right;
}

.submit {
    cursor: pointer;
}

.cancel {
    margin: 5px 15px;
    font-size: 14px;
    position: absolute;
        bottom: 2.5%;
        right: 20%;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .review__frame {
        width: 431px;
    }

    .shop_image {
        width: 431px;
    }

    .comment__frame {
        width: 230px;
    }

    .comment {
        width: 230px;
    }

    .cancel {
        position: absolute;
            right: 22%;
    }
}

@media screen and (max-width: 480px) {
    .review__frame {
            width: 310px;
            height: 430px;
            margin-top: 50px;
        }

        .shop_image {
            width: 310px;
        }

        .star-rating__frame {
            margin: 10px 0 0 10px;
        }

        .comment__frame {
            width: 170px;
            margin: 10px 0 0 20px;
        }

        .comment {
            width: 170px;
            height: 95px;
        }

        .cancel {
            position: absolute;
            right: 25%;
            bottom: 2%;
        }
}