.search-area__space {
    display: flex;
    background: white;
    height: 40px;
    width: 515px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    padding-top: 8px;
}

.select {
    width: 100px;
    height: 27px;
    border: none;
    outline: none;
    border-right: solid 1.5px #dcdcdc;
    padding-left: 7px;
}

.search-button__flame {
    position: relative;
}

.search__button {
    border: none;
    background: none;
    color: #dcdcdc;
    cursor: pointer;
    position: absolute;
    top: -27px;
    left: 210px;
}

.search {
    width: 250px;
    height: 34px;
    border: none;
    outline: none;
    position: absolute;
    top: -32px;
    left: 250px;
}

.shop-all__flame {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

/* 各ショップ情報 */

.shop__flame {
    width: 250px;
    height: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px 5px;
}

.shop-image {
    width: 250px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.shop__area-genre {
    display: flex;
    margin: 0 0 0 15px;
}

.shop-area,
.shop-genre {
    margin: 0;
    font-weight: normal;
    font-size: 10px;
}

.shop__detail-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 15px 0 15px;
}

.detail {
    width: 95px;
    height: 30px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shop__detail-favorite .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: #efefef;
    cursor: pointer;
}