.content__left-right{
    display: flex;
    justify-content: center;
}

.content__left {
    text-align: center;
    border-right: 1px solid gray;
}

.content__left-shop-info-frame {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 5px;
}

.shop__image {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.review__frame {
    padding: 0 50px;
    /* margin-top: 150px; */
    /* width: 550px; */
    /* height: 450px; */
    /* background: white; */
    /* position: absolute; */
        /* left: 50%; */
    /* transform: translate(-50%); */
    /* border-radius: 5px; */
    /* position: relative; */
}

/* .shop-name__frame {
    margin: 10px 5px 0px;
    padding: 5px 15px;
    border-bottom: solid;
} */

/* .shop-name {
    font-size: 25px;
    font-weight: normal;
} */

/* .shop-name__after {
    margin-left: 15px;
} */

/* .content__star-rating-frame {
    display: flex;
    justify-content: center;
} */

/* .review__under-frame {
    display: flex;
} */


/* スターレーティング */
.star-rating-header {
    margin: 30px 0 8px;
}

.star {
    font-size: 150%;
    color: #a09a9a;
    padding-left: 5px;
}

/* 口コミを投稿 */
.content__comment-frame {
    position: relative;
}

.comment-textbox {
    width: 400px;
    height: 100px;
}

.comment-header {
    margin: 30px 0 8px;
}

.comment {
    width: 400px;
    height: 100px;
    border: solid 1px #636363;
    background: none;
    resize: none;
}

.constraints {
    margin: 0;
    font-size: 9px;
    text-align: right;
}

.validation {
    margin: 0;
    font-size: 9px;
    text-align: left;
    position: absolute;
        top: 91%;
    color: red;
}

/* 画像の追加 */
.add-image-header {
    margin: 30px 0 8px;
}

.upload-area {
    border: dotted 1px black;
    background: white;
}

.upload-area-inner-message {
    font-size: 11px;
    text-align: center;
    margin: 30px 0 0;
}

.upload-area-inner-message-sub {
    font-size: 10px;
}

#input-files {
    opacity: 0;
    width: 400px;
}

/* ボタン */
.content__button-frame {
    position: absolute;
        top: 800px;
        left: 50%;
    transform: translateX(-50%);
}

.submit {
    width: 33vw;
    height: 40px;
    border: none;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.cancel-frame {
    margin-top: 15px;
    text-align: center;
}

.cancel {
    font-size: 12px;
}

/* .comment__frame {
    margin: 10px 0 0 50px;
} */

/* .comment {
    resize: none;
    outline: none;
} */

/* .button__frame {
    display: flex;
    justify-content: right;
} */

/* .submit {
    cursor: pointer;
} */

/* .cancel {
    margin: 5px 15px;
    font-size: 14px;
    position: absolute;
        bottom: 2.5%;
        right: 20%;
    text-decoration: none;
    cursor: pointer;
} */

/* @media screen and (max-width: 768px) {
    .review__frame {
        width: 431px;
    }

    .shop_image {
        width: 431px;
    }

    .comment__frame {
        width: 230px;
    }

    .comment {
        width: 230px;
    }

    .cancel {
        position: absolute;
            right: 22%;
    }
} */

/* @media screen and (max-width: 480px) {
    .review__frame {
            width: 310px;
            height: 430px;
            margin-top: 50px;
        }

        .shop_image {
            width: 310px;
        }

        .star-rating__frame {
            margin: 10px 0 0 10px;
        }

        .comment__frame {
            width: 170px;
            margin: 10px 0 0 20px;
        }

        .comment {
            width: 170px;
            height: 95px;
        }

        .cancel {
            position: absolute;
            right: 25%;
            bottom: 2%;
        }
} */