body {
    background: #dcdcdc;
    margin: 25px 25px 30px;
}

.header-group {
    display: flex;
    justify-content: center;
    margin: 0 600px 0 0;
}

.menu__button {
    background: #0066ff;
    color: white;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    cursor: pointer;
}

.menu__button .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20;
    position: absolute;
    top: 1px;
    left: 2.5px;
    color: white;
}

.app-title__space {
    padding-left: 16px;
}

.app-title {
    color: #0066ff;
    font-weight: 600;
    font-size: 24px;
}

.content {
    display: flex;
    justify-content: center;
}

.shop-detail__frame {
    display: flex;
    margin: 0 25px 0 0;
}

.shop-name__group {
    display: flex;
    margin-top: 30px;
}

.return__button {
    width: 23px;
    height: 23px;
    position: relative;
    background: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.return__button .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20;
    position: absolute;
        top: -1px;
        left: -1px;
}

.shop-name {
    margin: 0 0 0 10px;
    font-size: 20px;
}

.shop-image {
    margin: 20px 0 0;
    width: 325px;
}

.shop__area-genre {
    display: flex;
    margin-top: 10px;
}

.shop-area,
.shop-genre {
    font-weight: normal;
    font-size: 9.5px;
    margin-right: 5px;
}

.over-view {
    display: inline-block;
    width: 325px;
    font-size: 9.5px;
    margin: 0;
}

.reservation-group {
    margin: -50px 0 0 25px;
}

.reservation__frame {
    width: 320px;
    height: 420px;
    background: #0066ff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    position: relative;
}

.reservation-header {
    color: white;
    font-size: 17px;
    padding: 20px 0 0 15px;
}

.input_date {
    margin-left: 15px;
    padding-left: 7px;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 22px;
    font-size: 11.5px;
    outline: none;
}

.input_time,
.input_people {
    margin: 10px 0 0 15px;
    padding-left: 7px;
    border-radius: 5px;
    border: none;
    width: 290px;
    height: 22px;
    font-size: 11.5px;
    outline: none;
}

.reservation-info__frame {
    margin: 15px 0 0 15px;
    padding: 15px 0 0 15px;
    width: 290px;
    height: 100px;
    background: #b2d8ff;
    opacity: 0.3;
    border-radius: 5px;
}

.info__inner {
    position: absolute;
        top: 170px;
        left: 30px;
}

.info__header{
    margin: 0 0 6px 0;
    color: white;
    font-weight: normal;
    font-size: 11.5px;
}

.shop-info,
.date-info,
.time-info,
.number-info {
    display: flex;
    position: relative;
    width: 260px;
}

.shop,
.date,
.time,
.number {
    position: absolute;
        left: 90px;
    color: white;
    font-size: 11.5px;
}

.reservation-button__frame {
    position: absolute;
        bottom: 0;
}

.reservation__button {
    background: blue;
    color: white;
    width: 320px;
    height: 40px;
    border: none;
    border-radius: 0 0 5px 5px;
    font-size: 11.5px;
    cursor: pointer;
}

.validation {
    color: red;
}

@media screen and (max-width: 768px) {
    .header-group {
        margin: 0 320px 0 0;
    }

    .shop-detail__frame {
        margin: 0 10px 0 0;
    }

    .shop-image {
        width: 210px;
    }

    .over-view {
        width: 210px;
    }

    .reservation-group {
        margin: -50px 0 0 10px;
    }

    .reservation__frame {
        width: 200px;
        height: 370px;
    }

    .input_time,
    .input_people {
        width: 170px;
    }

    .reservation-info__frame {
        width: 170px;
    }

    .info__inner {
        position: absolute;
            top: 175px;
            left: 25px;
    }

    .info__header {
        font-size: 9.5px;
    }

    .shop-info,
    .date-info,
    .time-info,
    .number-info {
        width: 160px;
    }

    .shop,
    .date,
    .time,
    .number {
        position: absolute;
            left: 45px;
        font-size: 9.5px;
    }

    .reservation__button {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    body {
        display: flex;
        justify-content: center;
    }

    .header-group {
        margin: 0 200px 0 0;
    }

    .content {
        display: block;
    }

    .shop-detail__frame {
        justify-content: center;
        margin: 0 0 0 0;
    }

    .shop-image {
        width: 315px;
    }

    .over-view {
        width: 315px;
    }

    .reservation-group {
        margin: 20px 0 0 0;
    }

    .reservation__frame {
        width: 315px;
        height: 300px;
    }

    .reservation-header {
        font-size: 15px;
        margin-top: 0;
        padding: 10px 0 0 15px;
    }

    .reservation__form {
        text-align: center;
    }

    .input_date {
        margin-left: 0;
        padding-left: 5px;
        width: 295px;
        height: 20px;
        font-size: 9.5px;
    }

    .input_time,
    .input_people {
        margin: 10px 0 0 0;
        padding-left: 10px;
        width: 295px;
        height: 20px;
        font-size: 9.5px;
    }

    .reservation-info__frame {
        margin: 15px 10px;
        padding: 0 0 0 0;
        width: 295px;
    }

    .info__inner {
        position: absolute;
            top: 53%;
            left: 7%;
        width: 280px;
    }

    .shop-info,
    .date-info,
    .time-info,
    .number-info {
        width: 275px;
    }

    .shop,
    .date,
    .time,
    .number {
        position: absolute;
            left: 60px;
    }

    .reservation__button {
        width: 315px;
        height: 25px;
        font-size: 9.5px;
    }
}