.header__right-ul {
    margin: 0;
}

.register__inner-frame {
    margin: 100px 0 0;
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 5px;
}

.register__header {
    padding: 20px 0 0;
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.register__inner {
    margin: 20px 0 0 0px;
    text-align: center;
}

.input-area {
    margin: 10px 0;
}

.input-name {
    margin-left: 77px;
    width: 200px;
    outline: none;
}

.input-email {
    margin-left: 0px;
    width: 200px;
    outline: none;
}

.input-password {
    margin-left: 30px;
    width: 200px;
}

.button__area {
    text-align: right;
}

.register-button {
    margin: 15px 87px 0 0;
}