main {
    display: flex;
    justify-content: center;
}

.reservation-status__frame {
    width: 719px;
}

.button__mypage-top {
    border: none;
    background: #c0c0c0;
    border-radius: 3px;
    height: 35px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.visited-shops__header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.visited-shops {
    display: flex;
    flex-wrap: wrap;
}

.visited-shop__frame {
    width: 225px;
    height: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px 5px;
    position: relative;
}

.shop-image {
    width: 225px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.shop__area-genre {
    display: flex;
    margin: 3px 0 0 15px;
}

.shop-area,
.shop-genre {
    margin: 0 3px 0 0;
    font-weight: normal;
    font-size: 10px;
}

.review__frame {
    position: absolute;
        bottom: 10%;
        left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.button__review {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .reservation-status__frame {
        width: 431px;
    }

    .visited-shop__frame {
        width: 200px;
    }

    .shop-image {
        width: 200px;
    }

    .button__review {
        width: 110px;
    }
}

@media screen and (max-width: 480px) {
    .reservation-status__frame {
            width: 310px;
        }

    .visited-shop__frame {
        width: 310px;
    }

    .shop-image {
        width: 310px;
    }
}