.button__mypage-top {
    border: none;
    background: #c0c0c0;
    border-radius: 3px;
    height: 35px;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

.visited-shops__header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.visited-shops {
    display: flex;
    flex-wrap: wrap;
}

.visited-shop__frame {
    width: 250px;
    height: 230px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px 5px;
    position: relative;
}

.shop-image {
    width: 250px;
    height: 115px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.shop-name {
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 0 0;
    padding-left: 15px;
}

.shop__area-genre {
    display: flex;
    margin: 3px 0 0 15px;
}

.shop-area,
.shop-genre {
    margin: 0 3px 0 0;
    font-weight: normal;
    font-size: 10px;
}

.shop__detail-favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px 0 15px;
}

.detail {
    width: 95px;
    height: 30px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-hart .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 200,
        'opsz' 20;
    font-size: 35px;
    color: #efefef;
    cursor: pointer;
    border: none;
    background: none;
}

.review__frame {
    position: absolute;
        bottom: 33%;
        right: 5%;
    font-size: 12px;
}

.button__review {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .visited-shop__frame {
        width: 215px;
    }

    .shop-image {
        width: 215px;
    }
}